<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="piCalculation" class="com.edison.pi.calculation.service.impl.PiCalculationServiceImpl">
	<property name="calculationTimes" value="10000000"/>
</bean>

<bean id="piCalculation_backup" class="com.edison.pi.calculation.service.impl.PiCalculationServiceImplB">
	<property name="calculationTimes" value="100"/>
</bean>

</beans>
